body {
    font-family: 'Arial', 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Georgia', serif; 
}

header {
    background-color: #0055a4; 
    color: #fff;
    padding: 20px;
}

nav {
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ff0000; 
}

nav a:active {
    color: #ffffff;
}

main {
    display: grid;
    gap: 20px;
    padding: 20px;
}

section {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

h2 {
    color: #0055a4; 
}

h3 {
    color: #ff0000; 
}

p {
    line-height: 1.6;
    max-width: 60ch; 
    margin: 0 auto; 
}

footer {
    text-align: center;
    background-color: #0055a4; 
    color: #fff;
    padding: 20px;
}
img {
    max-width: 100%; 
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}


